{% autoescape off %}
¡Hola {{ user }}!

Recibimos una solicitud para restablecer la contraseña de tu cuenta asociada a esta dirección de correo electrónico. Para iniciar el proceso de restablecimiento de contraseña de tu cuenta, haz clic en el enlace que se encuentra a continuación.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Este enlace solo puede ser utilizado una vez. Si necesitas restablecer tu contraseña nuevamente, por favor visita {{ protocol }}://{{domain}} y solicita otro restablecimiento.

Si no realizaste esta solicitud, puedes ignorar este correo electrónico.

Atentamente.

{% endautoescape %}