
{% extends 'base.html' %}


{% block content %}

{% if messages %}
<div class="container mt-4">
    <div id="message-container" class="mt-4 alert alert-success" role="alert">
        {% for message in messages %}
            {% autoescape off %}{{ message }}{% endautoescape %}
        {% endfor %}
    </div>
</div>
{% endif %}
<section>
    <div class="container mt-4">
      <div class="row">
        {% for motor in motor_list %}
        <div class="col-md-4 mb-3">
          <div class="card shadow p-3 mb-5">
            <img src="{{ motor.image.url }}" class="card-img-top" alt="{{ motor.model }}" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imagenModal">
            <div class="card-body">
              <h5 class="card-title">Detalles del Motor Bomba {{ motor.pump.tag }}</h5>
              <p class="card-text">
                <hr>
                <strong>Marca:</strong> {{ motor.brand }}<br>
                <hr>
                <strong>Carcasa:</strong> {{ motor.model }}<br>
                <hr>
                <strong>HP:</strong> {{ motor.hp }}<br>
                <hr>
                <strong>RPM:</strong> {{ motor.rpm }}<br>
                <hr>
                <strong>Rodamiento delantero:</strong> {{ motor.front_bearing }}
                <hr>
                <strong>Rodamiento trasero:</strong> {{ motor.rear_bearing }}
                <hr>
                <div class="form-group">
                  <div class="form-check form-check-inline">
                      <label class="form-check-label mr-2" for="anti_explosive">Antiexplosivo</label>
                      <input type="checkbox" class="form-check-input" id="anti_explosive" {% if motor.anti_explosive %}checked{% endif %} disabled>
                  </div>
              </div>
                <hr>
                <strong>Descripción:</strong> {{ motor.description }}
                <hr>
              </p>
              <a href="{% url 'delete_motor' motor.motor_id %}?motor_list=true" id="motor_list" class="btn btn-sm btn-outline-danger">Eliminar</a>
              <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editarModal{{motor.motor_id}}" data-motor-list-param="{{ motor_list_param }}">Editar</button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Modal para la imagen -->
    {% for motor in motor_list %}
    <div class="modal fade" id="imagenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <img src="{{ motor.image.url }}" class="img-fluid" alt="Motor">
          </div>
        </div>
      </div>
    </div>

    <!-- Modal para la edición -->
    <div class="modal fade" id="editarModal{{motor.motor_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Detalles del Motor Bomba {{ motor.pump.tag }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'update_motor' motor.motor_id %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="motor_list_param" value="true">
              <div class="form-group mb-3">
                <label for="brand">Marca:</label>
                <input type="text" class="form-control" id="brand" name="brand" value="{{motor.brand}}">
              </div>
              <div class="form-group mb-3">
                <label for="model">Carcasa:</label>
                <input type="text" class="form-control" id="model" name="model" value="{{motor.model}}">
              </div>
              <div class="form-group mb-3">
                <label for="hp">HP:</label>
                <input type="text" class="form-control" id="hp" name="hp" value="{{motor.hp}}">
              </div>
              <div class="form-group mb-3">
                <label for="rpm">RPM:</label>
                <input type="text" class="form-control" id="rpm" name="rpm" value="{{motor.rpm}}">
              </div>
              <div class="form-group mb-3">
                <label for="front_bearing">Rodamiento delantero:</label>
                <input type="text" class="form-control" id="front_bearing" name="front_bearing" value="{{motor.front_bearing}}">
              </div>
              <div class="form-group mb-3">
                <label for="rear_bearing">Rodamiento trasero:</label>
                <input type="text" class="form-control" id="rear_bearing" name="rear_bearing" value="{{motor.rear_bearing}}">
              </div>
              <div class="form-group mb-3">
                <label for="anti_explosive">Antiexplosivo:</label>
                <select class="form-control" id="anti_explosive" name="anti_explosive">
                    <option value="True" {% if motor.anti_explosive %}selected{% endif %}>Sí</option>
                    <option value="False" {% if not motor.anti_explosive %}selected{% endif %}>No</option>
                </select>
            </div>
              <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea class="form-control" id="description" name="description" rows="3">{{motor.description}}</textarea>
              </div>
              <div class="form-group mt-3">
                <label for="image">Imagen:</label>
                <input type="file" class="form-control-file" id="image">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-sm btn-outline-primary">
                  Guardar Cambios
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
{% endblock %}