
{% extends 'base.html' %}


{% block content %}

{% load static %}
<script src="{% static 'js/modal.js' %}"></script>

{% if messages %}
<div class="container mt-4">
    <div id="message-container" class="mt-4 alert alert-success" role="alert">
        {% for message in messages %}
            {% autoescape off %}{{ message }}{% endautoescape %}
        {% endfor %}
    </div>
</div>
{% endif %}
<section>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card shadow p-3 mb-5">
            <img src="{{ coupling.image.url }}" class="card-img-top" alt="{{ coupling.model }}" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imagenModal">
            <div class="card-body">
              <h5 class="card-title">Detalles del Acople Bomba {{ coupling.pump.tag }}</h5>
              <code><a href="{% url 'pumps' %}" style="color: inherit; cursor: pointer; text-decoration: none">volver...</a></code>
              <p class="card-text">
                <hr>
                <strong>Tipo de acople:</strong> {{ coupling.types }}<br>
                <hr>
                <strong>Serie:</strong> {{ coupling.model }}<br>
                <hr>
                <strong>Medida eje lado motor:</strong> {{ coupling.motor_side_measure }}<br>
                <hr>
                <strong>Medida eje lado bomba:</strong> {{ coupling.pump_side_sizer }}<br>
                <hr>
                <strong>Medida chaveta lado motor:</strong> {{ coupling.motor_key_measure }}
                <hr>
                <strong>Medida chaveta lado bomba:</strong> {{ coupling.pump_key_measure }}
                <hr>
                <strong>Descripción:</strong> {{ coupling.description }}
                <hr>
              </p>
              <a href="{% url 'delete_coupling' coupling.coupling_id %}" class="btn btn-sm btn-outline-danger">Eliminar</a>
              <button type="button" class="btn btn-sm btn-outline-secondary" data-coupling-id="{{ coupling.coupling_id }}" data-bs-toggle="modal" data-bs-target="#editarModal">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal para la imagen -->
    <div class="modal fade" id="imagenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <img src="{{ coupling.image.url }}" class="img-fluid" alt="coupling">
          </div>
        </div>
      </div>
    </div>

    <!-- Modal para la edición -->
    <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Detalles del Acople Bomba {{ coupling.pump.tag }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'update_coupling' coupling.coupling_id %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label for="brand">Tipo de acople:</label>
                <input type="text" class="form-control" id="types" name="types" value="{{coupling.types}}">
              </div>
              <div class="form-group mb-3">
                <label for="model">Serie:</label>
                <input type="text" class="form-control" id="model" name="model" value="{{coupling.model}}">
              </div>
              <div class="form-group mb-3">
                <label for="hp">Medida eje lado motor:</label>
                <input type="text" class="form-control" id="motor_side_measure" name="motor_side_measure" value="{{coupling.motor_side_measure}}">
              </div>
              <div class="form-group mb-3">
                <label for="rpm">Medida eje lado bomba:</label>
                <input type="text" class="form-control" id="pump_side_sizer" name="pump_side_sizer" value="{{coupling.pump_side_sizer}}">
              </div>
              <div class="form-group mb-3">
                <label for="front_bearing">Medida chaveta lado motor:</label>
                <input type="text" class="form-control" id="motor_key_measure" name="motor_key_measure" value="{{coupling.motor_key_measure}}">
              </div>
              <div class="form-group mb-3">
                <label for="rear_bearing">Medida chaveta lado bomba:</label>
                <input type="text" class="form-control" id="pump_key_measure" name="pump_key_measure" value="{{coupling.pump_key_measure}}">
              </div>
              <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea class="form-control" id="description" name="description" rows="3">{{coupling.description}}</textarea>
              </div>
              <div class="form-group mt-3">
                <label for="image">Imagen:</label>
                <input type="file" class="form-control-file" id="image">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-sm btn-outline-primary">
                  Guardar Cambios
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}