{% extends 'base.html' %}

{% block content %}

<main>
    <section class="py-5 container">
            <div class="card" style="width: 18rem;">
                <div class="card-body shadow p-1">
                    <h5 class="card-title mt-2 mb-2">Bomba P-122</h5>
                    <hr>
                    <p class="card-text">Tipo de Rodamientos: C3 2RS1</p>
                    <hr>
                    <p class="card-text">Cantidad: 2</p>
                    <hr>
                    <p class="card-text">Rodamientos delanteros: 6506 2rs1</p>
                    <hr>
                    <p class="card-text">Rodamientos traseros: 6506 2rs1</p>
                    <hr>
                    <p class="card-text">Descripción: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis repellendus aspernatur nobis explicabo illo voluptas alias eveniet, officia molestiae voluptate est? Culpa incidunt aperiam quasi et quae officiis id praesentium?</p>
                    <hr>
                    <a href="#" class="btn btn-dark w-100 mb-2 btn-md">Cargar Rodamientos</a>
                    <a href="#" class="btn btn-secondary w-100 mb-2 btn-md">Editar Rodamientos</a>
                    <a href="#" class="btn btn-danger w-100 mb-2 btn-md">Borrar</a>
                </div>
            </div>
    </section>
</main>

{% endblock %}