{% extends 'base.html' %}

{% block content %}
{% load static %}
<script src="{% static 'js/clearfield.js' %}"></script>
<main>
    <section class="py-5 text-center container">
        <nav class="navbar navbar-expand-lg rounded shadow p-3" style="background-color: #6C757D;">
            <div class="container-fluid">
              <a class="btn btn-light btn-lg" href="{% url 'add_pump' %}">Agregar Bomba</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="ms-auto">
                  <form class="d-flex" role="search" method="get">
                    <input class="form-control me-2" type="search" name="search" placeholder="Buscar" aria-label="Buscar" value="{{ search_query }}">
                    <button class="btn btn-light me-2 btn-lg" type="submit">Buscar</button>
                    <button class="btn btn-warning btn-lg" id="clear-button">Limpiar</button>
                  </form>
                </div>
              </div>
            </div>
          </nav>
          {% if messages %}
          <div id="message-container" class="mt-4 alert alert-success" role="alert">
              {% for message in messages %}
                  {% autoescape off %}{{ message }}{% endautoescape %}
              {% endfor %}
          </div>
          {% endif %}
    </section>
    <div class="container mt-4 mb-4">
        <div class="row">
            {% for pump in pumps_list %}
            <div class="col-md-4 mb-3">
              <div class="card shadow p-1">
                      <img src="{{ pump.image.url }}" class="card-img-top" alt="{{ pump.image.url }}" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imagenModal">
                  <div class="card-body">
                      <h5 class="card-title">{{ pump.tag }}</h5>
                      <hr>
                      <p class="card-text">Tipo de bomba: {{ pump.types }}</p>
                      <p class="card-text">Modelo de Bomba: {{ pump.model }}</p>
                      <p class="card-text">Fabricante: {{ pump.brand }}</p>
                      <p class="card-text">Descripcion: {{ pump.description }}</p>
                      <hr>
                      <div class="accordion" id="accordionExample{{pump.pump_id}}">
                        <div class="accordion-item">
                          <h2 class="accordion-header collapsed" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{pump.pump_id}}" aria-expanded="true" aria-controls="collapseOne">
                              <h5>Rodamientos</h5>
                            </button>
                          </h2>
                          <div id="collapseOne{{pump.pump_id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample{{pump.pump_id}}">
                            <div class="accordion-body">
                              <hr>
                              {% if not pump.has_bearing %}
                              <p class="card-text text-danger">No hay rodamientos disponibles.</p>
                              {% else %}
                              {% for bearing in pump.bearing_set.all %}
                              <p><strong>Rodaminetos Bomba {{ pump.tag }}</strong></p>
                              <hr>
                              <p class="card-text">Tipo de Rodamientos: {{ bearing.types }}</p>
                              <hr>
                              <p class="card-text">Cantidad: {{ bearing.amount }}</p>
                              <hr>
                              <p class="card-text">Rodamientos delanteros: {{ bearing.front_bearing }}</p>
                              <hr>
                              <p class="card-text">Rodamientos traseros: {{ bearing.rear_bearing }}</p>
                              <hr>
                              <p class="card-text">Descripción: {{ bearing.description }}</p>
                              {% endfor %}
                              {% endif %}
                              <hr>
                              <a {% if not pump.has_bearing %}
                                    href="{% url 'add_bearing' pump.pump_id %}" class="btn btn-sm btn-outline-secondary"
                              {% else %}
                                  class="btn btn-sm btn-outline-disable"
                              {% endif %}>
                                  Cargar
                              </a>
                              <a {% if not pump.has_bearing %}
                                  class="btn btn-sm btn-outline-disable"
                              {% else %}
                                {% for bearing in pump.bearing_set.all %}
                                  href="#" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#rodamientoModal{{ bearing.bearing_id }}"
                                {% endfor %}
                              {% endif %}>
                                  Editar
                            </a>
                              <a {% if not pump.has_bearing %}
                                  class="btn btn-sm btn-outline-disable"
                              {% else %}
                                {% for bearing in pump.bearing_set.all %}
                                    href="{% url 'delete_bearing' bearing.bearing_id %}" class="btn btn-sm btn-outline-danger"
                                {% endfor %}
                              {% endif %}>
                                  Eliminar
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header collapsed" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo{{pump.pump_id}}" aria-expanded="false" aria-controls="collapseTwo">
                              <h5>Sello</h5>
                            </button>
                          </h2>
                          <div id="collapseTwo{{pump.pump_id}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample{{pump.pump_id}}">
                            <div class="accordion-body">
                              <hr>
                              {% if not pump.has_mechanicalseal %}
                              <p class="card-text text-danger">No hay sello mecánico disponible.</p>
                              {% else %}
                              {% for mechanicalseal in pump.mechanicalseal_set.all %}
                              <p><strong>Sello Bomba {{ pump.tag }}</strong></p>
                              <hr>
                              <p class="card-text">Marca: {{mechanicalseal.brand}}</p>
                              <hr>
                              <p class="card-text">Tipo: {{mechanicalseal.types}}</p>
                              <hr>
                              <p class="card-text">Medida: {{mechanicalseal.extention}}</p>
                              <hr>
                              <p class="card-text">Descripción: {{mechanicalseal.description}}</p>
                              {% endfor %}
                              {% endif %}
                              <hr>
                              <a {% if not pump.has_mechanicalseal %}
                                  href="{% url 'add_mechanicalseal' pump.pump_id %}" class="btn btn-sm btn-outline-secondary"
                              {% else %}
                                  class="btn btn-sm btn-outline-disable"
                              {% endif %}>
                                  Cargar
                              </a>
                              <a {% if not pump.has_mechanicalseal %}
                                  class="btn btn-sm btn-outline-disable"
                              {% else %}
                                {% for mechanicalseal in pump.mechanicalseal_set.all %}
                                  href="#" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#selloModal{{mechanicalseal.seal_id}}"
                                {% endfor %}
                              {% endif %}>
                                  Editar
                              </a>
                              <a {% if not pump.has_mechanicalseal %}
                                  class="btn btn-sm btn-outline-disable"
                              {% else %}
                                {% for mechanicalseal in pump.mechanicalseal_set.all %}
                                  href="{% url 'delete_mechanicalseal' mechanicalseal.seal_id %}" class="btn btn-sm btn-outline-danger"
                                {% endfor %}
                              {% endif %}>
                                  Eliminar
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree{{pump.pump_id}}" aria-expanded="false" aria-controls="collapseThree">
                              <h5>Retenes</h5>
                            </button>
                          </h2>
                          <div id="collapseThree{{pump.pump_id}}" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample{{pump.pump_id}}">
                            <div class="accordion-body">
                              <hr>
                              {% if not pump.has_reten %}
                              <p class="card-text text-danger">No hay retenes disponibles.</p>
                              {% else %}
                              {% for reten in pump.reten_set.all %}
                              <p><strong>Retenes Bomba {{ pump.tag }}</strong></p>
                              <hr>
                              <p class="card-text">Retenes delanteros: {{reten.front_seal}}</p>
                              <hr>
                              <p class="card-text">Retenes traseros: {{reten.rear_seal}}</p>
                              <hr>
                              <p class="card-text">Descripción: {{reten.details}}</p>
                              {% endfor %}
                              {% endif %}
                              <hr>
                              <a {% if not pump.has_reten %}
                                  href="{% url 'add_reten' pump.pump_id %}" class="btn btn-sm btn-outline-secondary"
                              {% else %}
                                  class="btn btn-sm btn-outline-disable"
                              {% endif %}>
                                  Cargar
                              </a>
                              <a {% if not pump.has_reten %}
                                  class="btn btn-sm btn-outline-disable"
                              {% else %}
                                {% for reten in pump.reten_set.all %}
                                    href="#" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#retenesModal{{ reten.seal_id }}"
                                {% endfor %}
                              {% endif %}>
                                Editar
                              </a>
                              <a {% if not pump.has_reten %}
                                  class="btn btn-sm btn-outline-disable"
                              {% else %}
                                {% for reten in pump.reten_set.all %}
                                  href="{% url 'delete_reten' reten.seal_id %}" class="btn btn-sm btn-outline-danger"
                                {% endfor %}
                              {% endif %}>
                                  Eliminar
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header collapsed" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour{{pump.pump_id}}" aria-expanded="false" aria-controls="collapseFour">
                              <h5>Acople</h5>
                            </button>
                          </h2>
                          <div id="collapseFour{{pump.pump_id}}" class="accordion-collapse collapse" aria-labelledby="headFourFour" data-bs-parent="#accordionExample{{pump.pump_id}}">
                            <div class="accordion-body">
                              <hr>
                              {% if not pump.has_coupling %}
                                {% if not pump.has_motor %}
                                  <p class="card-text text-danger">Agrega datos del motor</p>
                                {% else %}
                                  <p class="card-text text-danger">No hay acople disponible.</p>
                                {% endif %}
                              {% else %}
                              {% for coupling in pump.coupling_set.all %}
                                {% for motor in pump.motor_set.all %}
                                  <p><strong>Acople Bomba {{ pump.tag }}</strong></p>
                                  <hr>
                                {% endfor %}
                                  <p class="card-text">Medida Eje Motor: {{coupling.motor_side_measure}}</p>
                                  <hr>
                                  <p class="card-text">Medida Eje Bomba: {{coupling.pump_side_sizer}}</p>
                                  <hr>
                                  <code><a href="{% url 'coupling' coupling.coupling_id %}" style="color: inherit; cursor: pointer; text-decoration: none">mas info</a></code>
                              {% endfor %}
                              {% endif %}
                              <hr>
                              {% if pump.has_motor %}
                                {% for motor in pump.motor_set.all %}
                                  <a {% if not pump.has_coupling %}
                                      href="{% url 'add_coupling' pump.pump_id motor.motor_id %}" class="btn btn-sm btn-outline-secondary"
                                    {% else %}
                                      class="btn btn-sm btn-outline-disable"{% endif %}>
                                      Cargar
                                  </a>
                                  <a {% if not pump.has_coupling %}
                                      class="btn btn-sm btn-outline-disable"
                                    {% else %}
                                      {% for coupling in pump.coupling_set.all %}
                                          href="{% url 'coupling' coupling.coupling_id %}?couplingModal=true" class="btn btn-sm btn-outline-secondary"
                                      {% endfor %}
                                    {% endif %}>
                                    Editar
                                  </a>
                                  <a {% if not pump.has_coupling %}
                                        class="btn btn-sm btn-outline-disable"
                                    {% else %}
                                      {% for coupling in pump.coupling_set.all %}
                                        href="{% url 'delete_coupling' coupling.coupling_id %}?pump_list=true" class="btn btn-sm btn-outline-danger"
                                      {% endfor %}
                                    {% endif %}>
                                      Eliminar
                                  </a>
                                {% endfor %}
                              {% endif %}
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header collapsed" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive{{pump.pump_id}}" aria-expanded="false" aria-controls="collapseFive">
                              <h5>Motor</h5>
                            </button>
                          </h2>
                          <div id="collapseFive{{pump.pump_id}}" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample{{pump.pump_id}}">
                            <div class="accordion-body">
                              <hr>
                              {% if not pump.has_motor %}
                              <p class="card-text text-danger">No hay motor disponible.</p>
                              {% else %}
                              {% for motor in pump.motor_set.all %}
                              <p><strong>Motor Bomba {{ pump.tag }}</strong></p>
                              <hr>
                              <p><strong>Motor {{ motor.brand }} | Carcasa {{ motor.model }}</strong></p>
                              <hr>
                              <p class="card-text">HP: {{motor.hp}}</p>
                              <hr>
                              <p class="card-text">RPM: {{motor.rpm}}</p>
                              <hr>
                              <p class="card-text">Rodamientos delanteros: {{motor.front_bearing}}</p>
                              <hr>
                              <p class="card-text">Rodamientos traseros: {{motor.rear_bearing}}</p>
                              <hr>
                              <code><a href="{% url 'motor' motor.motor_id %}" style="color: inherit; cursor: pointer; text-decoration: none">mas info</a></code>
                              {% endfor %}
                              {% endif %}
                              <hr>
                              <a {% if not pump.has_motor %}
                                    href="{% url 'add_motor' pump.pump_id %}" class="btn btn-sm btn-outline-secondary"
                                {% else %}
                                    class="btn btn-sm btn-outline-disable"
                                {% endif %}>
                                    Cargar
                                </a>
                                <a {% if not pump.has_motor %}
                                    class="btn btn-sm btn-outline-disable"
                                 {% else %}
                                    {% for motor in pump.motor_set.all %}
                                      href="{% url 'motor' motor.motor_id %}?motorModal=true" id="motorModal" class="btn btn-sm btn-outline-secondary"
                                    {% endfor %}
                                  {% endif %}>
                                  Editar
                                </a>
                                <a {% if not pump.has_motor %}
                                    class="btn btn-sm btn-outline-disable"
                                  {% else %}
                                    {% for motor in pump.motor_set.all %}
                                      href="{% url 'delete_motor' motor.motor_id %}?pump_list=true" class="btn btn-sm btn-outline-danger"
                                    {% endfor %}
                                  {% endif %}>
                                  Eliminar
                                </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <a href="#" class="btn btn-lg btn-outline-dark w-100 mb-2 btn-lg" data-bs-toggle="modal" data-bs-target="#bombaModal{{ pump.pump_id }}">Editar</a>
                      <a href="{% url 'delete_pump' pump.pump_id %}" class="btn btn-lg btn-outline-danger w-100 btn-lg">Eliminar</a>
                  </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal para la edición de rodamientos -->
    {% for pump in pumps_list %}
    {% for bearing in pump.bearing_set.all %}
    <div class="modal fade" id="rodamientoModal{{ bearing.bearing_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Rodamientos de Bomba {{ pump.tag }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'update_bearing' bearing.bearing_id %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label for="types">Tipo de Rodamientos:</label>
                <input type="text" class="form-control" id="types" name="types" value="{{bearing.types}}">
              </div>
              <div class="form-group mb-3">
                <label for="amount">Cantidad:</label>
                <input type="number" class="form-control" id="amount" name="amount" value="{{bearing.amount}}">
              </div>
              <div class="form-group mb-3">
                <label for="front_bearing">Rodamientos delanteros:</label>
                <input type="text" class="form-control" id="front_bearing" name="front_bearing" value="{{bearing.front_bearing}}">
              </div>
              <div class="form-group mb-3">
                <label for="rear_bearing">Rodamientos traseros:</label>
                <input type="text" class="form-control" id="rear_bearing" name="rear_bearing" value="{{bearing.rear_bearing}}">
              </div>
              <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea class="form-control" id="description" name="description" rows="3">{{bearing.description}}</textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-sm btn-outline-primary">
                  Guardar Cambios
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- Modal para la edición de sello -->
    {% for mechanicalseal in pump.mechanicalseal_set.all %}
    <div class="modal fade" id="selloModal{{mechanicalseal.seal_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Sello Bomba {{mechanicalseal.pump.tag}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'update_mechanicalseal' mechanicalseal.seal_id %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label for="extention">Medida:</label>
                <input type="text" class="form-control" id="extention" name="extention" value="{{mechanicalseal.extention}}">
              </div>
              <div class="form-group mb-3">
                <label for="brand">Marca:</label>
                <input type="text" class="form-control" id="brand" name="brand" value="{{mechanicalseal.brand}}">
              </div>
              <div class="form-group mb-3">
                <label for="types">Tipo de Sello:</label>
                <input type="text" class="form-control" id="types" name="types" value="{{mechanicalseal.types}}">
              </div>
              <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea class="form-control" id="description" name="description" rows="3">{{mechanicalseal.description}}</textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-sm btn-outline-primary">
                  Guardar Cambios
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- Modal para la edición de retenes -->
    {% for reten in pump.reten_set.all %}
    <div class="modal fade" id="retenesModal{{ reten.seal_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Retenes Bomba {{reten.pump.tag}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'update_reten' reten.seal_id %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label for="front_seal">Número de serie reten delantero:</label>
                <input type="text" class="form-control" id="front_seal" name="front_seal" value="{{reten.front_seal}}">
              </div>
              <div class="form-group mb-3">
                <label for="rear_seal">Número de serie reten trasero:</label>
                <input type="text" class="form-control" id="rear_seal" name="rear_seal" value="{{reten.rear_seal}}">
              </div>
              <div class="form-group">
                <label for="details">Descripción:</label>
                <textarea class="form-control" id="details" name="details" rows="3">{{reten.details}}</textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-sm btn-outline-primary">
                  Guardar Cambios
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- Modal para la edición de Bomba -->
    <div class="modal fade" id="bombaModal{{ pump.pump_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Bomba {{ pump.tag }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'update_pump' pump.pump_id %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" id="bomba-id-input" name="bomba_id" value="{{ pump.pump_id }}">
              <div class="form-group mb-3">
                <label for="tag">Tag:</label>
                <input type="text" class="form-control" id="tag" name="tag" value="{{ pump.tag }}">
              </div>
              <div class="form-group mb-3">
                <label for="brand">Marca:</label>
                <input type="text" class="form-control" id="brand" name="brand" value="{{ pump.brand }}">
              </div>
              <div class="form-group mb-3">
                <label for="model">Modelo:</label>
                <input type="text" class="form-control" id="model" name="model" value="{{ pump.model }}">
              </div>
              <div class="form-group mb-3">
                <label for="types">Tipo de Bomba:</label>
                <input type="text" class="form-control" id="types" name="types" value="{{ pump.types }}">
              </div>
              <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea class="form-control" id="description" name="description" rows="3">{{pump.description}}</textarea>
              </div>
              <div class="form-group mt-3">
                <label for="image">Imagen:</label>
                <input type="file" class="form-control-file" id="image">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-sm btn-outline-primary">
                  Guardar Cambios
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal para la imagen de bomba -->
    <div class="modal fade" id="imagenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <img src="{{ pump.image.url }}" class="img-fluid" alt="pump">
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</main>
{% endblock %}